body{
    background-color:rgba(255, 255, 255, 0.751)
}
*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    line-height: 1.4;
}

.container-2{
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 1.2rem;
    background-image: url(Sasuke.jpg);
    height: 800px;
    background-size: cover;
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.container-1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.2rem;
 
}
header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.934);
    padding: 1.2rem;
}

.navbar-title{
    color: rgb(164, 22, 26);
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color: rgb(164, 22, 26);
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
}
.navbar-nav{
        text-align: center;
        padding: 12px 4px;
    }

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}
.span{
    color: rgb(164, 22, 26);;
}

.Gojo{
 width: 25%;
 border: 2px solid black;
 margin: 10px;
 text-align: center;

}
.Bleach{
    width: 25%;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
   
}
.solo{
    width: 25%;
    border: 2px solid black;
    margin: 10px;
    text-align: center;

}
.Gojo img{
    width: 100%;
}

.Bleach img{
    width: 100%;
}

.solo img{
    width: 100%;
}

.Anime{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;

}

.container-3{
    width: 80%;
    margin: 50px auto;
    
}
.contact-box{
    background-color: rgb(164, 22, 26);
    display: flex;
    margin-bottom: 40px;
}
.box-1{
    flex-basis: 60%;
    padding: 40px 60px;
}
.box-2{
    flex-basis: 40%;
    padding: 40px;
    background-color:rgba(206,204,205,255)
    

}
.h1{
    margin-bottom: 10px;
}
.container-3 p{
    margin-bottom: 40px;
}
.input-row{
   display: flex;
   justify-content: space-between;
   inset-block: 90px;
   margin-bottom: 40px;
   flex-wrap: wrap;
   
   
   
}
.input-row > div{
    flex-basis: 45%;
     
}

input{
    width: 100%;
    border: none;
    padding-bottom: 3px;
}

.input-row .inout-group{
    flex-basis: 45%;
  
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
button{
    width: 65px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    
}

label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
.box-1 h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
.box-2 h3{
    
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;

}
tr td{
    padding-top: 20px;
}
@media only screen and (max-width: 425px) {
    
    body{
        width: 100%;
        
        
    }

    .Gojo{
        width: 100%;
    }

    .solo{
        width: 100%;
    }

    .Bleach{
        width: 100%;
    }

    .container-3{
        width: 100%;
    }

    .contact-box{
        background-color: rgb(164, 22, 26);;
        display: block;
        width: 100%;
    }

    
    .container-2{
        background-image: url(zoro.jpeg);
        max-width: 700px;
        background-size: cover;
   
    }
    
}



