div{
background-color: rgba(221, 241, 245, 0.822);
border: 1px solid black;
width: 70%;
margin: 10px;





}
body{
background-color: hsl(44, 63%, 53%);}

main{
    border-style: solid;
}




h1{
border-style: solid;}